.swiper-pagination-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.swiper-vertical .swiper-pagination-custom {
  flex-direction: column;
  /* background-color: red; */
  height: 100%;
  position: absolute;
  transform: translateX(22%);
  /* right: 16px; */
  /* top: 50%; */
  /* bottom: auto; */
  /* transform: translateY(-50%); */
  /* height: auto; */
  z-index: 10;
}
.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.7;
  margin: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.2s, background 0.2s;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
  opacity: 1;
}
