.swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.2s, background 0.2s;
}
.swiper-pagination-bullet-active {
  background: rgb(66, 66, 66) !important;
  opacity: 1;
}
.swiper-horizontal .swiper-pagination {
  bottom: 2.7rem !important; /* Move bullets up from the bottom */
}
